# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://2efeng.com
date_format: "ordinal"
title: 我不是修电脑的
subtitle: "无bug，不生活"
description: "疯子の博客"
keywords: kiang, feng, Huang Zefeng, 疯子
timezone: Asia/Shanghai
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: Huang Zefeng
organization:
organization_url:
github_username: 2efeng
location: Haifeng
email: hzf978865104@foxmail.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /wiki/
    label: 笔记

  -
    href: /links/
    label: 友链

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
plugins:
    - jekyll-github-metadata
    - rouge
    - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
    - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: 2efeng/2efeng.github.io

# ---------------- #
#      Comments    #
# ---------------- #
# https://imsun.net/posts/gitment-introduction/
comments_provider: gitment
gitment:
    owner: 2efeng
    repo: blog-comments
    oauth:
        client_id: 938e0b9c63e31638e771
        client_secret: 3e88f818105846f223aad646d51b355734b6de29


# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: true
    # 最多显示多少条搜索结果
    limit: 8

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-80669434-1
